@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #7e8586;
  border-radius: 2px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555f61;
}
