.panel-block {cursor: pointer;}
.panel-block:hover {background-color: whitesmoke;}
.panel-block.is-active {background-color: whitesmoke; border-left-width: 6px;}
/* make ingredients appear in rightmost column on wider screens. */
@media(min-width: 768px) {
    #directions-column {order: 1}
    #ingredients-column {order: 2}
}

.bigger-burger {margin: auto 0; height: 3.25rem !important; width: 3.25rem !important;}