@tailwind base;
@tailwind components;
@tailwind utilities;

body {font-family: "Ubuntu", sans-serif}

.emoji-picker-react .emoji-categories {
  display: none;
}
.emoji-picker-react .emoji-group:before {
  background: #222;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
