@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Ubuntu', sans-serif;
}

.emoji-picker-react .emoji-categories {
  display: none;
}
.emoji-picker-react .emoji-group:before {
  background: #222;
}
.emoji-picker-react .emoji-search {
  margin-top: 1rem;
  color: #aaa;
  background: #444;
  border: 1px solid #777 !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
